name: "build"

on:
  push:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    # strategy:
    #   matrix:
    #     java: [ '14' ]
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-java@v5.2.0
        with:
          distribution: 'adopt'
          java-version: '14' # ${{ matrix.java }}
      - uses: actions/setup-python@v6
        with:
          python-version: 3.8
      - name: Run python
        run: |
          cd intentional/src/main/python
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
      - name: Run docker
        run: |
          cd intentional
          chmod +x *.sh
          ./init.sh
          ./build.sh
          ./download.sh
          ./start.sh
          ./stop.sh
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: tests
          path: /home/runner/work/assess/assess/intentional/build/reports/tests

  release:
    needs:
      - build
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Install Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: package.json
      - uses: actions/setup-java@v5.2.0
        with:
          distribution: 'adopt'
          java-version: '14'
      - name: Deploy
        run: |
          cd intentional
          ./gradlew shadowJar
          cd ..
          mkdir -p dist/
          cp intentional/build/libs/* dist/
      - name: Release
        run: |
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
